*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
.gitignore
images/copied_from_nb/my_icons/call.png
images/copied_from_nb/my_icons/fastai_logo.png
images/copied_from_nb/my_icons/method.png
_posts/2020-02-20-test.md
_posts/2022-08-20-java.md
_posts/2022-08-20-python.md
_posts/2022-08-21-jupyter-notebook-1.md
_posts/2022-08-26-tools.md
_posts/2022-08-28-code-org-answer.md
_posts/2022-08-28-code-org.md
_posts/2022-08-28-good-code-snippets.md
_posts/2022-08-28-primitives.md
_posts/2022-09-05-w2-menu.md
_posts/2022-09-07-w3-if-else.md
_notebooks/2022-09-07-w3-COPY-if-else copy.ipynb

_posts/2022-09-07-w3-COPY-if-else-copy.md
_posts/2022-09-07-w3-if-else-copy.md
_posts/2022-09-12-FRQ.md
_posts/2022-09-05-w1-python-quiz.md
_posts/2022-09-05-w2-dictionary.md
_posts/2022-09-11-createTaskLog.md
_posts/2022-09-14-w4_2D_Array.md
_posts/2022-09-14-w4_FRQ.md
_notebooks/2022-09-14-COPY-w4_2D_Array copy.ipynb
_posts/2022-09-14-COPY-w4_2D_Array-copy.md
_notebooks/2022-09-14-COPY-w4_FRQ copy.ipynb
_posts/2022-09-14-COPY-w4_FRQ-copy.md
_posts/2022-09-24-w5_fibonacci.md
_posts/2022-09-25-w5_javascript.md
_posts/2022-09-24-COPY-w5_fibonacci-copy.md
_notebooks/2022-09-24-COPY-w5_fibonacci copy.ipynb
_posts/2022-09-24-COPY2-w5_fibonacci-copy.md
.gitignore
_notebooks/2022-09-24-COPY2-w5_fibonacci copy.ipynb
_notebooks/2022-10-01-COPY-w6_img copy.ipynb
_posts/2022-10-01-COPY-w6_img-copy.md
_posts/2022-10-07-w7_arrayList.md
_posts/2022-10-09-w7_codeCorrection.md
_posts/2022-10-09-cspAPI.md
_posts/2022-10-16-w8_unit2Objects.md
_posts/2022-10-17-w8_unit1Primitives.md
_posts/2022-10-20-w9_unit5.md
_posts/2022-10-21-w9_unit4Iteration.md
_posts/2022-10-23-w9_frontendTableRapidAPIVideo.md
_posts/2022-10-24-pythonDictionary.md
_posts/2022-10-25-w9_unit5Class.md
_posts/2022-10-24-w10_unit5JavaHacks.md
_posts/2022-10-24-w10_unit6JavaHacks.md
_posts/2022-10-20-w9_unit5ClassHack.md
_posts/2022-10-09-dictionaryJupyterAPI.md
_posts/2022-10-01-w6_img.md
_posts/2022-10-01-w6_img.md
_posts/2022-09-14-w4_2016_2022CSAFRQ.md
_posts/2022-10-30-cbTableTestJS.md
_posts/2022-10-17-w8_classLessonNotes.md
_posts/2022-11-09-w12_unit6HW.md
_posts/2022-11-16-frq1PBL.md
_posts/2022-11-16-liquidTest.md
_posts/2022-11-28-w14_CSPUnit3.1-2.md
_posts/2022-11-29-unit1-10Vocab.md
_posts/2022-11-18-CSPLesson-expressions-and-strings.md
_posts/2022-11-29-CSPUnit3.3-4.md
_posts/2022-11-18-w14_CSPLesson-expressions-and-strings.md
_posts/2022-11-28-w14_CSPUnit3.1-2NoteAndHW.md
_posts/2022-11-29-w14_CSPUnit3.3-4NoteAndHW.md
_posts/2022-11-29-w14_unit1-10Vocab.md
_posts/2022-12-01-w14_CSPUnit3.5-6NoteAndHW.md
images/copied_from_nb/my_icons/w14_unit1-10Vocab-objectComparisonEqualsOutput.jpg
_posts/2022-12-01-w14_unit1Notes.md
_posts/2022-12-01-w14_unit3Notes.md
_posts/2022-12-04-w14_unit7ArrayListNoteAndHW.md
images/copied_from_nb/my_icons/w14_unit7ArrayListNoteAndHW-quizizz.jpg
_posts/2022-11-30-w14_CSPUnit3.5-3.6LessonAndHW.md
_posts/2022-11-26-CSPLessonlistanditerationhomework.md
_posts/2022-11-26-w15_CSPLessonlistanditerationhomework.md
_posts/2022-12-06-w15_lesson2DArray.md
_posts/2022-12-06-w15_CSPLessonlistanditerationhomework.md
_posts/2022-12-01-w14_CSPUnit3.5-7NoteAndHW.md
_posts/2022-12-08-w15_CSP3.12-13LessonNotebook.md
_posts/2022-12-06-w15_unit8LessonNotebook.md
_posts/2022-12-12-w16_unit10DecimalToBinary.md
_posts/2022-12-12-w16_CSP3.14LessonNotebook.md
_posts/2022-12-12-w16_CSP3.15LessonNotebook.md
_posts/2022-12-13-w16_unit9InheritanceNotes.md
_posts/2022-12-13-w16_CSP3.16LessonNotebook.md
_posts/2022-12-12-w16_3.14-15HW.md
_posts/2022-12-14-w16_CSP3.17-3.18LessonNotebook.md
_posts/2023-01-10-w18_CSP_OOP.md
_posts/2022-12-09-CSPVocab.md
_posts/2023-03-06-CSP-w25-unit2_2.md
_posts/2023-03-06-CSA-w25-dataType.md
_posts/2023-03-09-CSP-w25-unit2_3.md
_posts/2023-03-12-CSA-w25-class-dataType.md
_posts/2023-03-13-CSA-w25-combineHack.md
_posts/2023-03-22-CSP-w26-class-spaceTimeComplexity.md
_posts/2023-03-15-CSA-w25-generic.md
_posts/2023-03-13-CSP-w25-class-unit2_4a.md
images/copied_from_nb/images/CSP/CSP-w25-class-unit2_4a-updateUserCode.jpg
images/copied_from_nb/images/CSP/CSP-w25-class-unit2_4a-userUpdateProof.jpg
_posts/2023-03-25-CSP-w25-class-unit2_4b.md
images/copied_from_nb/images/CSP/CSP-w25-class-unit2_4b-debug2.jpg
images/copied_from_nb/images/CSP/CSP-w25-class-unit2_4b-debug.jpg
images/copied_from_nb/images/CSP/CSP-w25-class-unit2_4b-cptHack.jpg
_posts/2023-03-25-CSP-w25-sqlite3Tb.md
_posts/2023-03-15-CSA-w25-class-generic.md
_posts/2023-03-22-CSA-w26-genericHack.md
_posts/2023-03-26-CSA-w26-genericHack2.md
_posts/2023-03-28-CSA-w26-genericHack3.md
_posts/2023-03-29-CSP-w27-class-hashmaps.md
_posts/2023-03-29-CSP-w28-class-hashmaps.md
_posts/2023-03-29-CSP-w28-class-unit4_3aParallelComputing.md
images/copied_from_nb/images/CSP/CSP-w28-class-unit4_3aParallelComputing-base64Decode.jpg
images/copied_from_nb/images/CSP/CSP-w28-class-unit4_3aParallelComputing-base64Encode.jpg
images/copied_from_nb/images/CSP/CSP-w28-class-hashmaps-dictionaryVsList.jpg
images/copied_from_nb/images/CSP/CSP-w28-class-hashmaps-hashtablesProCon.jpg
_posts/2023-04-04-CSA-w29-class-hashmapBigO.md
_posts/2023-04-04-CSA-w29-sort.md
_posts/2023-04-07-CSA-FRQ_Practice.md
_posts/2023-04-24-CSA-w31-class-lesson1MergeHack.md
_posts/2023-04-24-CSA-w31-class-lesson1BinarySearchHack.md
_posts/2023-04-24-CSA-w31-class-lesson2Arrays.md
_posts/2023-04-25-CSP-w31-class-lesson3DataAnalysisPandaNumpy.md
_posts/2023-04-27-CSP-w31-class-lesson5SQLite.md
_posts/2023-04-27-CSA-w31-apPractice.md
_posts/2023-04-21-CSP-w30-class-binaryMathLesson.md
images/copied_from_nb/images/CSP/CSP-w31-class-lesson4SQLite-create.jpg
images/copied_from_nb/images/CSP/CSP-w31-class-lesson4SQLite-delete.jpg
images/copied_from_nb/images/CSP/CSP-w31-class-lesson4SQLite-update.jpg
