*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
.gitignore
images/copied_from_nb/my_icons/call.png
images/copied_from_nb/my_icons/fastai_logo.png
images/copied_from_nb/my_icons/method.png
_posts/2020-02-20-test.md
_posts/2022-08-20-java.md
_posts/2022-08-20-python.md
_posts/2022-08-21-jupyter-notebook-1.md
_posts/2022-08-26-tools.md
_posts/2022-08-28-code-org-answer.md
_posts/2022-08-28-code-org.md
_posts/2022-08-28-good-code-snippets.md
_posts/2022-08-28-primitives.md
_posts/2022-09-05-w2-menu.md
_posts/2022-09-07-w3-if-else.md
_notebooks/2022-09-07-w3-COPY-if-else copy.ipynb

_posts/2022-09-07-w3-COPY-if-else-copy.md
_posts/2022-09-07-w3-if-else-copy.md
_posts/2022-09-12-FRQ.md
_posts/2022-09-05-w1-python-quiz.md
_posts/2022-09-05-w2-dictionary.md
_posts/2022-09-11-createTaskLog.md
_posts/2022-09-14-w4_2D_Array.md
_posts/2022-09-14-w4_FRQ.md
_notebooks/2022-09-14-COPY-w4_2D_Array copy.ipynb
_posts/2022-09-14-COPY-w4_2D_Array-copy.md
_notebooks/2022-09-14-COPY-w4_FRQ copy.ipynb
_posts/2022-09-14-COPY-w4_FRQ-copy.md
_posts/2022-09-24-w5_fibonacci.md
_posts/2022-09-25-w5_javascript.md
_posts/2022-09-24-COPY-w5_fibonacci-copy.md
_notebooks/2022-09-24-COPY-w5_fibonacci copy.ipynb
_posts/2022-09-24-COPY2-w5_fibonacci-copy.md
.gitignore
_notebooks/2022-09-24-COPY2-w5_fibonacci copy.ipynb
_notebooks/2022-10-01-COPY-w6_img copy.ipynb
_posts/2022-10-01-COPY-w6_img-copy.md
_posts/2022-10-07-w7_arrayList.md
_posts/2022-10-09-w7_codeCorrection.md
_posts/2022-10-09-cspAPI.md
_posts/2022-10-16-w8_unit2Objects.md
_posts/2022-10-17-w8_unit1Primitives.md
_posts/2022-10-20-w9_unit5.md
_posts/2022-10-21-w9_unit4Iteration.md
_posts/2022-10-23-w9_frontendTableRapidAPIVideo.md
_posts/2022-10-24-pythonDictionary.md
_posts/2022-10-25-w9_unit5Class.md
_posts/2022-10-24-w10_unit5JavaHacks.md
_posts/2022-10-24-w10_unit6JavaHacks.md
_posts/2022-10-20-w9_unit5ClassHack.md
